
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4"> About Us! </h1>
        <p class="lead"> In January 2021, FilmCult was launched by Miguel Calha, Diogo Soares and Tiago Coelho to provide an innovative movie app for everybody. The goal was to give users the best movie/show tracking experience, with a focus on a strong integration of the community built content.</p>
        <p class="lead">Since then we have continuously improved FilmCult to fulfill every user wish as much as possible. We continue to be inspired by the future of mobile apps with the mission to make intuitive functionalities for movie & series lovers.</p>
        <hr class="my-4">
        <button type="button" class="btn btn-primary">Signup Now!</button>

    </div>


</div>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4"> Our Team! </h1>
        <p class="lead"> Our Team is composed by 3 members: Miguel Calha, Diogo Soares and Tiago Coelho. You can find us on Linkedin!</p>
        <hr class="my-4">
    </div>


        <button type="button" class="btn btn-primary">Contact Us!</button>


</div>
<br>
