    <div class="container mt-4">
        <div class="container mt-4">
            <div class="jumbotron">
                <h1 class="display-4"> Add a Movie</h1>
            </div>

            <div class="card-body">
                <form action="/addMovie/addMovie" method="POST">
                    <div class="form-group">
                        <label for="title"> Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>

                    <div class="form-group">
                        <label for="genre"> Genre</label>
                        <input type="genre" class="form-control" id="genre" name="genre">

                    </div>
                    <div class="form-group">
                        <label for="director"> Director</label>
                        <input type="text" class="form-control" id="director" name="director">

                    </div>

                    <div class="form-group">
                        <label for="cast"> Cast</label>
                        <input type="text" class="form-control" id="cast" name="cast">

                    </div>

                    <div class="form-group">
                        <label for="rating"> Description </label>
                        <input type="text" placeholder="Year, About..." class="form-control" id="description"
                            name="description">

                    </div>

                    <div class="form-group">
                        <label for="rating"> Rating </label>
                        <input type="text" class="form-control" id="rating" name="rating">

                    </div>

                    <div class="form-group">
                        <label for="rating"> Image </label>
                        <input type="text" class="form-control" id="image" name="image">

                    </div>

                     <div class="form-group">
                        <label for="trailer"> Trailer Link </label>
                        <input type="text" class="form-control" id="trailer" name="trailer">

                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary"> Add Movie</button>
                </form>
            </div>
        </div>
    </div>
    </form>
  




    </div>
    

</html>