<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4"> Add Show </h1>
    </div>
    <div class="card-body">
        <form action="/addShow/addShow" method="POST">
            <div class="form-group">
                <label for="title"> Name</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>

            <div class="form-group">
                <label for="genre"> Genre</label>
                <input type="text" class="form-control" id="genre" name="genre">

            </div>
            <div class="form-group">
                <label for="director"> Director</label>
                <input type="text" class="form-control" id="director" name="director">

            </div>

            <div class="form-group">
                <label for="cast"> Cast </label>
                <input type="text" class="form-control" id="cast" name="cast">

            </div>

            <div class="form-group">
                <label for="description"> Description </label>
                <input type="text" class="form-control" id="description" name="description">

            </div>

            <div class="form-group">
                <label for="seasons"> Seasons </label>
                <input type="text" class="form-control" id="seasons" name="seasons">

            </div>

            <div class="form-group">
                <label for="episodes"> Episodes </label>
                <input type="text" class="form-control" id="episodes" name="episodes">

            </div>

            <div class="form-group">
                <label for="image"> Image </label>
                <input type="text" class="form-control" id="image" name="image">

            </div>

            <div class="form-group">
                <label for="trailer"> Trailer Link </label>
                <input type="text" class="form-control" id="trailer" name="trailer">

            </div>

            <br>
            <button type="submit" class="btn btn-primary"> Add Show</button>
        </form>
    </div>
</div>
</div>
</form>






</div>

</html>