    <div class="container mt-4">
        <div class="container mt-4">
            <div class="jumbotron">
                <h1 class="display-4"> Add Season</h1>
            </div>

            <div class="card-body">
                <form action="/addSeason/addSeason" method="POST">
                    <div class="form-group">
                        <label for="title"> Show ID</label>
                        <input type="text" class="form-control" id="id_serie" name="id_serie">
                    </div>

                    <div class="form-group">
                        <label for="genre"> Name</label>
                        <input type="id_temporada" class="form-control" id="nome" name="nome">

                    </div>
                    <div class="form-group">
                        <label for="director"> Director</label>
                        <input type="text" class="form-control" id="realizador" name="realizador">

                    </div>

                    <div class="form-group">
                        <label for="rating"> Cast </label>
                        <input type="text" class="form-control" id="elenco" name="elenco">

                    </div>

                    <div class="form-group">
                        <label for="rating"> Description </label>
                        <input type="text" class="form-control" id="descricao" name="descricao">

                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary"> Add Season</button>
                </form>
            </div>
        </div>
    </div>
    </form>
  

<br>
<br>
<br>
<br>
<br>
<br>
<br>


    </div>
    

</html>