    <div class="container mt-4">
        <div class="jumbotron">
             <h1 class="display-4"> FAQ </h1>
             <br>
            <h1 class="display-6"> What is Filmcult? </h1>
            <p class="lead"> In January 2021, FilmCult was launched by Miguel Calha, Diogo Soares and Tiago Coelho to
                provide an innovative movie app for everybody. The goal was to give users the best movie/show tracking
                experience, with a focus on a strong integration of the community built content.</p>
            <p class="lead">Since then we have continuously improved FilmCult to fulfill every user wish as much as
                possible. We continue to be inspired by the future of mobile apps with the mission to make intuitive
                functionalities for movie & series lovers.</p>
            <hr class="my-4">

            <h1 class="display-6"> How many members does Filmcult have? </h1>
            <p class="lead"> Our Team is composed by 3 members: Miguel Calha, Diogo Soares and Tiago Coelho. You can
                find us on Linkedin!</p>
            <hr class="my-4">

            <h1 class="display-6"> Is this service paid? </h1>
            <p class="lead"> No. The service is completly free.</p>
            <hr class="my-4">


            <h1 class="display-6"> Is the service safe to use? </h1>
            <p class="lead"> Yes, we use a high level of encryption so you do not have to worry about your personal data
                being leaked.</p>
            <hr class="my-4">

            <h1 class="display-6">Verifying your account </h1>
            <p class="lead"> You do not have to verify any data upon registration.</p>
            <hr class="my-4">

            <h1 class="display-6"> Do you have a newsletter? </h1>
            <p class="lead"> No, at the moment FilmCult does not provide any newsletter.</p>
            <hr class="my-4">

            <h1 class="display-6"> Do you offer movie streaming? </h1>
            <p class="lead"> No, at the moment we do not.</p>
            <hr class="my-4">
        </div>



    </div>


