  <div id="container-movies">

            <div class="container-movie">
                <div class="movie">
                    <div class="movie-inside front">
                        <img src="https://i.imgur.com/uJ58qya.jpg">
                    </div>
                </div>
            </div>



            <div class="container-movie">
                <div class="movie">
                    <div class="movie-inside front">
                        <img src="https://i.imgur.com/tjhTvQV.jpg">
                    </div>
                </div>
            </div>


            <div class="container-movie">
                <div class="movie">
                    <div class="movie-inside front">
                        <img src="https://i.imgur.com/rs0XjPO.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div id="container-movies">

            <div class="container-movie">
                <div class="movie">
                    <div class="movie-inside front">
                        <img src="https://i.imgur.com/BwJCH6e.jpg">
                    </div>
                </div>
            </div>



            <div class="container-movie">
                <div class="movie">
                    <div class="movie-inside front">
                        <img src="https://i.imgur.com/1oQjiSy.jpg">
                    </div>
                </div>
            </div>


            <div class="container-movie">
                <div class="movie">
                    <div class="movie-inside front">
                        <img src="https://1.bp.blogspot.com/-Lxwgoj60zRA/XgZcvZZjfAI/AAAAAAABElk/gHY9ZvgGsHEk79WE_pTOe0froeiRizXEACLcBGAsYHQ/s400/star%2Bwars%2Bascen%25C3%25A7%25C3%25A3o%2Bskywalker%2B%25282%2529.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div id="container-movies">

            <div class="container-movie">
                <div class="movie">
                    <div class="movie-inside front">
                        <img src="https://i2.wp.com/1.bp.blogspot.com/-fjnukdhjrr0/UunHqtnrdbI/AAAAAAAAAHw/I9Elnf_GL3g/s400/22+Jump+Street+Poster.jpg?ssl=1">
                    </div>
                </div>
            </div>



            <div class="container-movie">
                <div class="movie">
                    <div class="movie-inside front">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51OkFuSgCkL._AC_SY400_.jpg">
                    </div>
                </div>
            </div>


            <div class="container-movie">
                <div class="movie">
                    <div class="movie-inside front">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51xQgBZoN4L._AC_SY400_.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
