
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4"> Signup now & Start tracking your movies and shows! </h1>
        </div>


    <div class="card-body">
        <form action="/auth/register" method="POST">
            <div class="form-group">
                <label for="name"> Username</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="form-group">
                <label for="email"> E-mail Address</label>
                <input type ="email" class="form-control" id="email" name="email">

            </div>
           <div class="form-group">
                <label for="password"> Password</label>
                <input type ="password" class="form-control" id="password" name="password">

            </div>

            <div class="form-group">
                <label for="passwordConfirm"> Confirm Password</label>
                <input type ="password" class="form-control" id="passwordConfirm" name="passwordConfirm">

            </div>
            <br>
            <button type="submit" class="btn btn-primary"> Register User</button>
        </form>
    </div>
{{#if message}}
<h4 class="alert alert-danger mt-4">{{message}}</h4>
{{/if}}
        </div>
    </div>
</form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>

<br>